@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: rgb(249, 249, 252);
	--foreground: #171717;

	--sheet-width: 33rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol {
	list-style-type: decimal;
}

body {
	color: var(--foreground);
	background-color: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.swiper-slide-prev .slide-content {
	transform: translateY(-100%);
	opacity: 0.5;
}

.swiper-slide-next .slide-content {
	transform: translateY(100%);
	opacity: 0.5;
}

.swiper-slide-active .slide-content {
	transform: translateY(0);
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: #000 !important;
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.hover-only {
	display: none;
}
@media (hover: hover) {
	.hover-only {
		display: block;
	}
}

@keyframes fadeSlideIn {
	from {
		opacity: 0;
		transform: translateY(12px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
